body {
  font-family: Helvetica;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background-image: url("../pattern.jpeg");
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.green {
  background-color: mediumspringgreen;
}

.red {
  background-color: lightcoral;
}

.blue {
  background-color: skyblue;
}

strong {
  font-weight: bold;
  color: blue;
}
